//项目提供scss全局变量


//左侧的菜单的宽度
$base-menu-width:260px;
//左侧菜单背景颜色
$base-menu-background:#001529;
$base-menu-min-width:50px;

//顶部导航栏宽度
$base-tabbar-height:50px;


//logo高度
$base-menu-logo-height:20px;
//logo右侧文字大小
$base-logo-title-fontSize:20px;